body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-image: url('/extension.jpg');
    background-size: cover;
    background-position: center;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
  }
  
  #search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
  }
  
  #search-button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 10px;
    border-radius: 7px;
    background-color:black;
    color:white;
  }
  #searchdiv{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
  }
  #results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .result-item {
    flex-wrap: wrap;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skeleton {
    background-color: #e0e0e0;
    border-radius: 8px;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -150px 0;
    }
    100% {
      background-position: 150px 0;
    }
  }
  
  .result-item img {
    max-width: 100%;
    height: auto;
  }
  
  .sharebutton {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #25D366; /* WhatsApp green */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .copybutton{
    background-color: lightblue;
  }
  .downloadbutton{
    background-color: aliceblue;
  }
  .button-container{
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
    width: 60%;
  }
  